@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';                                 
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

